<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/deeppurple-amber.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <mat-card class="login-card">
        <mat-card-header>
          <h2 class="login-title">Inicie sesión</h2>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" />
          </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          [(ngModel)]="password"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Ingresar</button>

      <p *ngIf="mensaje" class="error-message">{{ mensaje }}</p>
    </mat-card-content>
  </mat-card>
    </div>
  </body>
</html>

