<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet">
  <title>Página de inicio</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Examen Final</h1>
    </header>
    <main>
      <div class="card">
        <img src="img.jpeg" alt="imagen" width="300">

        <p>Nombre: SERGIO LEANDRO GUZMAN ALVA</p>
        <p>Codigo: U202212840</p>
        <p>Sección: SX62</p>
      </div>
    </main>
    <footer>
      <p>UPC - © 2024</p>
    </footer>
  </div>
</body>
</html>

